mixin formGroup(id, label, type, placeholder)
  .form__group.ma-bt-md
    label.form__label(for=`${id}`)= label
    input.form__input(id=`${id}` type=`${type}`, placeholder=`${placeholder}`, required)