extends base

include _formGroup

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Send password reset mail
      form.form.form-forgot
        +formGroup('email', 'Email address', 'email', 'you@example.com')
        .form__group.form__group-center
          button.btn.btn--green(type='submit') Submit