extends base

include _formGroup

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form.form.form-login
        +formGroup('email', 'Email address', 'email', 'you@example.com')
        +formGroup('password', 'Password', 'password', '••••••••')
        .form__group.form__group-center
          button.btn.btn--green(type='submit') Login
      a.forgot-password(href='/signup') Don't have an account?
      br
      a.forgot-password(href='/forgotPassword') Forgot your password?