extends base

include _formGroup

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Password Reset
      form.form.form-reset
        +formGroup('password', 'Password', 'password', '••••••••')
        +formGroup('confirm-password', 'Confirm password', 'password', '••••••••')
        .form__group.form__group-center
          button.btn.btn--green(type='submit') Submit